{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "airbnb/base"
  ],
  "rules": {
    "semi": "off",
    "prettier/prettier": "error"
  }
}
