{
    "env": {
         "es6": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended",
        "airbnb/base"
    ],
    "plugins": [
        
        "prettier"
    ],
    "rules": {
        "semi": "off",
        "prettier/prettier": "error"
    }
}