{
  "plugins": ["sonar"],
  
  "env": {
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "airbnb/base",
    "plugin:sonar/recommended"
  ],
  "rules": {
    "semi": "off",
    "sonar/deprecation": 1
  }
}
